<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyh.background_management.dao.SysRolePermissionDao">

    <resultMap id="PermissionResultMap" type="com.wyh.background_management.pojo.SysPermission" >
        <result column="id" property="id" />
        <result column="permission_id" property="permissionId" />
        <result column="permission_name" property="permissionName" />
    </resultMap>

    <select id="findPermissionListByRoleId" resultMap="PermissionResultMap">
        select * from sys_permission where permission_id in (SELECT permission_id FROM sys_role_permission where role_id=#{roleId});
    </select>

</mapper>
