<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyh.background_management.dao.SysUserRoleDao">

    <resultMap id="RoleResultMap" type="com.wyh.background_management.pojo.SysRole" >
        <result column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
    </resultMap>

    <select id="findRoleListByUserId" resultMap="RoleResultMap">
        select role_id,role_name from sys_role where role_id in (SELECT role_id FROM sys_user_role where user_id=#{userId} and is_delete = 0)
    </select>

    <insert id="insertDefaultUserRole">
        insert into sys_user_role(user_id, role_id)values(#{userId}, 3)
    </insert>

</mapper>
